* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(44, 44, 215, 0.769), rgb(114, 114, 218));
}

.containerInput {
    border: none;
    height: 100vh;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px black

}

.info {
    display: flex;
    gap: 40px;
}

.action {
    display: flex;
    gap: 10px;
}

.btnEdit {
    color: white;
    background-color: rgb(30, 187, 30);
    padding: 5px 20px;
}

.btnRemove {
    color: white;
    background-color: rgb(234, 25, 25);
    padding: 5px 6px;
}

.border {
    background-color: rgb(70, 70, 181);
    position: relative;
    padding: 60px;
    width: 607px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.77);
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 1px 1px 2px black;
}

input {
    border: none;
    padding: 6px;
    border-right: 1px solid black;
    border-radius: 2px;
    box-shadow: 1px 1px 3px black
}

input:hover {
    opacity: 0.9;
}

button {
    padding: 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.msg-error{
    text-align: center;
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
    margin-top: 10px;
    transition: 0.5s;
}